@import '../../styles/variables.scss';

.grid {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .row {
    display: flex;
    justify-content: space-between;

    .node {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;

    .button {
      outline: 0;
      border: 2px solid black;
      font-family: 'Red Hat Text';
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;

      .button-content {
        display: flex;
        align-items: center;
      }
    }

    .off {
      background: black;
      color: white;
    }
  }
}
