@import '../../styles/variables.scss';

.grid {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .row {
    display: flex;
    justify-content: space-between;

    .node {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side-controls {
      display: flex;
      align-items: center;
      .button {
        outline: 0;
        border: 2px solid black;
        font-family: 'Red Hat Text';
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        background: 0;

        .button-content {
          display: flex;
          align-items: center;
        }
      }

      .off {
        background: black;
        color: white;
      }

      .speed {
        background: none;
        padding: 0;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: 'Red Hat Text';
        font-weight: bold;
        font-size: 1.5rem;
        border-bottom: 3px solid white;
      }

      .active {
        border-bottom: 3px solid black;
      }
    }

    .left-side-controls > * {
      margin-right: 1rem;
    }

    .right-side-controls {
      display: flex;
      align-items: center;

      .click-or-hover {
        display: flex;
        align-items: center;

        .button-reset {
          background: none;
          outline: none;
          border: none;
          cursor: pointer;
        }

        .interaction-label {
          font-family: 'Red Hat Text';
          font-size: 1.5rem;
          font-weight: bold;
          margin-right: 0.5rem;
          margin-left: 0.25rem;
        }
      }

      .button-alt {
        outline: 0;
        border: 0;
        padding: 0;
        font-family: 'Red Hat Text';
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 3px solid black;
        background: 0;
        margin-left: 1.5rem;
      }
    }
  }
}
