@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.instructions {
  width: 100%;
  background: $gray;
  padding: 6rem;
  margin-right: 3rem;

  @include large {
    width: 33%;
  }

  @include medium {
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .instructions-spacer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .instructions-top {
      .title {
        font-weight: bold;
        font-size: 3rem;

        @include small {
          font-size: 2.5rem;
        }
      }

      .desc {
        font-size: 1.5rem;
        color: black;

        &:active {
          color: black;
        }

        @include small {
          font-size: 1.3rem;
        }
      }

      .desc:visited {
        color: black;
      }

      .running {
        font-size: 1.25rem;
      }
    }

    .instructions-top > * {
      margin-bottom: 1rem;
    }

    .credit-container {
      display: flex;
      justify-content: space-between;
    }

    .credit {
      color: black;
      font-size: 1.5rem;

      &:active {
        color: black;
      }

      @include small {
        font-size: 1.3rem;
      }
    }

    .credit:visited {
      color: black;
    }
  }
}
